@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Bags</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Quality Bags</h2>
        <p>
            Welcome to Quality Bags
        </p>
    </div>
    <div class="col-md-4">
        <h2>New In</h2>
        <p>New Bags this Autumn</p>
        <p><a class="btn btn-default">See New Bags &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sales</h2>
        <p>Lowest Bags in Quality Bags</p>
        <p><a class="btn btn-default">See Sales &raquo;</a></p>
    </div>
</div>
