@model Qbags.Models.Bag

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Bag</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BagName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BagName" class="form-control" />
                <span asp-validation-for="BagName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
